html, body{
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

header {
	height: 70px;
	background: #000;
	padding: 0 16px;
	display: flex;
	align-items: center;
}

.logotipo{
	display: flex;
	align-items: center;
}

.logotipo img{
	width: 60px;
	height: 60px;
}

.logotipo h1{
	color: #FFF;
}