html, body{
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

body > header{
	height: 70px;
	background: #000;
	padding: 0 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logotipo{
	display: flex;
	align-items: center;
}

.logotipo img{
	width: 60px;
	height: 60px;
}

.logotipo h1{
	color: #FFF;
}

.logotipo h1 span{
	color: #ff5900;
}

body > header nav{
	color: #ffffff;
}

nav ul{
	display: flex;
  list-style-type: none;
  gap: 16px;
	margin: 0;
	padding: 0;
}