html, body{
	margin: 0;
	padding: 0;
	background: #141414;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	color: #FFF;
	font-size: 1.1rem;
}

body > header{
	height: 70px;
	background: #000;
	padding: 0 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

body > header nav a{
	color: #FFF;
	text-decoration: none;
	padding: 0 0 21px 0;
}

body > header nav a:hover{
	color: #ff5900;
	
	border-bottom: 3px solid #ff5900; 
}

body > header nav a.active{
	color: #ac3c00;
	border-bottom: 3px solid #ac3c00;
}

.logotipo{
	display: flex;
	align-items: center;
}

.logotipo img{
	width: 60px;
	height: 60px;
}

.logotipo h1 span{
	color: #ff5900;
}

nav ul{
	display: flex;
	list-style-type: none;
	gap: 16px;
	margin: 0;
	padding: 0;
}

body > main{
	min-height: calc(100vh - 302px);
	padding: 16px;
	display: flex;
	gap: 16px;
	flex-wrap: wrap;
}

body > footer{
	background: #000;
	height: 200px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card-ticker{
	width: 230px;
	/* height: fit-content; */
	background: #0a0a0a;
	border-radius: 20px;
	padding: 16px;
	align-self: baseline;
}

.card-ticker header{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card-ticker header h2{
	margin: 0;
	font-size: 12px;
}

.card-ticker header h2 span{
	font-weight: normal;
	color: #7b7b7b;
}

.card-ticker header h1{
	margin: 0;
	font-size: 14px;
	font-weight: 500;
} 

.card-ticker main p{
	font-size: 32px;
	margin: 16px 0 2px 0;
} 

.card-ticker main span{
	color: #7b7b7b;
}

.card-ticker main span:nth-child(2){
	background: #02bb2a;
	padding: 3px 16px;
	margin: 0 8px 0 0;
	border-radius: 12px;
	font-size: 14px;
	color: #FFF;
}

.card-ticker footer{
	display: flex;
	justify-content: space-between;
	margin: 26px 0 0 0;
}

.card-ticker footer div:nth-child(2){
	text-align: right;
}

.card-ticker footer div p{
	margin: 0;
	font-size: 18px;
}

.card-ticker footer div span{
	font-size: 14px;
	color: #7b7b7b;
}

table {
	border-collapse: collapse;
}

th, td{
	border: 1px solid #7b7b7b;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even){
	background: #333333;
}
tr:nth-child(odd){
	background: #1c1c1c;
}

fieldset{
	width: 400px;
	display: flex;
	flex-direction: column;
	padding: 30px;
	border-radius: 15px;
	margin: 0 0 30px 0;
}
fieldset h5{
	font-size: 1.1rem;	
}

legend {
	font-size: 1.2rem;
	padding: 0 10px 5px 10px;
}

input[type=text], input[type=email], input[type=password], select, textarea{
	padding: 5px 10px;
	border-radius: 10px;
	font-size: 18px;
	margin: 3px 0 16px 0;
	border: none;
	background: #333333;
	color: #FFF;
}

input[type=submit], input[type=reset]{
	border: 1px solid #ac3c00;
	color: #FFF;
	border-radius: 30px;
	padding: 10px 20px;
	background: #ac3c00;
	font-size: 1.1rem;
	margin: 16px 16px 16px 0;
	cursor: pointer; 
}

input[type=submit]:hover, input[type=reset]:hover{
	background: #ff5900;
}

input[type=submit]:active, input[type=reset]:active{
	background: #6a2501;
}

#banner {
	width: 500px;
	height: 300px;
	background-color: #333333;
	background-image: url('../img/bg-stock-market.jpg');
	background-size: 200px 200px;
	background-repeat: no-repeat;
	background-position: right bottom;
	background: #333333 url('../img/bg-stock-market.jpg');
	background-size: cover;
}

#banner h2{
	margin: 40px 0 0 40px;
}

nav div{
	display: none;
}

/*
@media screen and (max-width: 674px) {
	nav ul {
		display: none;
	}
	nav div {
		display: block;
	}
}

@media screen and (max-width: 568px) {
	body > main {
		justify-content: center;
	}
}

@media screen and (max-width: 334px) {
	.card-ticker {
		width: 100%;
	}
}
*/

@media (width <= 674px) {
	nav ul {
		display: none;
	}
	nav div {
		display: block;
	}
}

@media (width <= 568px) {
	body > main {
		justify-content: center;
	}
}

@media (width <= 334px) {
	.card-ticker {
		width: 100%;
	}
}